<h1>Dice</h1>

<% first_dice = rand(1..6) %>
<% second_dice = rand(1..6) %>

<!-- Take the total sum -->
<% total = first_dice + second_dice %>

<!-- <p> img src="/images/dice/ <p> -->
<p> First is <%= first_dice %> <p> 
<p> Second is <%= second_dice %> <p> 
<p> Total is <%= total %> <p> 

<p>
<a href="/dice">Roll again</a>
<a href="/tacos">Tacos</a>
</p>
